<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <% if Helper.current_user(session).is_logged_in? %>
      <p>Username: <%= Helper.current_user(session).username %></p>
      <p>Balance: <%= Helper.current_user(session).Balance %></p>
      <a href="/logout">Log Out</a>
    <% else %>
      <a href="/">Log In</a>
    <% end %>
  </body>
</html>